$headerFont: 'Raleway', sans-serif; 

$baseFont: 'Montserrat', sans-serif;

$gray: #747A87;

$lightColour: #D0EEED;

$midColour: #64c2cb;

$darkColour: #01b8c9;

$lightAccentColour: #e6e3ff;

$darkAccentColour: #191357;

// * {
//     border: 1px red solid; 
// }