// HEADER BASE

.landing {
    display: flex;
    flex-direction: column; 
    height: 650px;
    position: relative;
    z-index: 1;  
    justify-content: space-evenly; 
    .landing__wrapper--nav {
        height: 35%;
    }
    @include media(450px) {
        height: 800px;
     } 
}


// Absolute positioned elements
.backgroundFirst {
    background: $lightColour;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    width: 26.5%;
    z-index: -1;
    @include media(1150px) {
        width: 27.5%;
     } 
    @include media(950px) {
        width: 50%;
     } 
}

.landing__imageContainer {
    position: absolute;
    top: 140px;
    right: 80px;
    width: 40%;
     @include media(950px) {
        position: static;
        font-size: 2.5rem;
        margin: 0 auto;
        width: 70%;
     } 
     @include media(750px) {
        width: 90%;
     }
      @include media(450px) {
        margin-top: 30px;
        width: 100%;
     } 

}

.landing__image {
    width: 100%;
}


// NAVIGATION

.landing__list {
    display: flex;
    justify-content: space-between; 
    padding-top: 30px; 
    .landing__item {
        list-style-type: none;
        .landing__link--active {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 1.5rem;
        position: relative;
    } 
    } 
}

.landing__link--active::before {
    content: '';
    width: 65%;
    height: 10%;
    background-color: $midColour;
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.landing__button {
    background: none;
    border: solid $darkAccentColour 1px;
    padding: 7.5px 10px;
    font-weight: bold;
}
.landing__button:hover {
    background: white;
    border: solid black 1px;
}

// CONTENT

.landing__textSection {
    width: 45%;
     @include media(1150px) {
        width: 50%;
     }   
     @include media(950px) {
        width: 100%;
        text-align: center;
     }
}

.landing__header {
    font-weight: 600;
    font-size: 2.8rem;
    @include media(1150px) {
        font-size: 2.5rem;
     }
      @include media(1150px) {
        font-size: 2.8rem;
     }
     @include media(550px) {
        font-size: 2.25rem;
     }
     @include media(450px) {
        font-size: 2rem;
        margin-top: 50px;
     }
       
}

.landing__header--active {
    color: $midColour;
}

.landing__subHeader {
    font-size: 1.15rem;
    color: $gray;
    @include media(1150px) {
        font-size: 1rem;
     }  
}

.landing__paragraph {
    font-size: 1.15rem;
    @include media(1100px) {
        font-size: 1rem;
     }
      @include media(950px) {
        display: none;
     } 
}



