.skills {
    height: 600px;
    padding-top: 40px;
    @include media(950px) {
        height: 1000px;
     }
}

.skills .skills__header {
    margin-bottom: 90px;
}

.skills__main {
    flex-direction: row;
    justify-content: space-between;
    @include media(950px) {
        flex-direction: column;
        height: 85%;
     }
}

.skills__imageContainer {
    // background: linear-gradient(  #64c2cb, rgba(0, 0, 0, 0.5) ), url(../assets/2019-fall-Tom-Stuart-2-removebg.jpg);
    // background: rgb(242, s242, 242);
    background: $lightColour;
    // height: 100%;
    // background-size: cover;
    // background-position: top;
    margin-top: 25px;
    padding-top: 20px;
    width: 37.5%;
    height: 70%;
    border-radius: 10%;
    @include media(950px) {
        width: 90%;
        max-height: 40%;
        margin: 0 auto;
     }
     @include media(750px) {
        width: 80%;
        max-height: 30%;
        margin: 0 auto;
     }

}



.skills__image {
    width: 85%;
    margin: 40px auto;
    display: block;
    @include media(950px) {
        margin: 0 auto;
        height: 85%;
        object-fit: contain;
        margin-top: 20px;
     }
      @include media(750px) {
        margin-top: 10px;
     }

}

.skills__image--active {
    width: 70%;
}

.imageTwo {
    width:100%;
    margin-left: 60px;
}

.skills__sliderSection {
    width: 50%;
    height: 80%;
   @include media(950px) {
        width: 90%;
        margin: 0 auto;
     }
}

.skills__sliderHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-right: 40px;
     @include media(950px) {
        padding-right: 20px;
        margin-top: 50px;
        padding-right: 100px;
     }
    @include media(750px) {
        padding-right: 40px;
        font-size: 0.9rem;

     }
     @include media(450px) {
        padding-right: 0px;
        font-size: 0.8rem;
     }

}

.skills__subHeader--active {
    position: relative;
    cursor: pointer;
}


.skills__subHeader--active::before {
    content: '';
    width: 150px;
    height: 10%;
    background-color: $midColour;
    position: absolute;
    bottom: -20px;
    left: 0;
    @include media(950px) {
        width: 150px;
     }
     @include media(600px) {
        width: 100px;
     }
   
}

.skills__subHeader {
    cursor: pointer;
    position: relative;
    font-weight: 100;
    color: rgb(140, 140, 140);
}

.skills__subHeader::before {
    content: '';
   width: 150px;
    height: 10%;
    background-color: $lightColour;
    position: absolute;
    bottom: -20px;
    left: 0;
    @include media(950px) {
        width: 150px;
     }
     @include media(600px) {
        width: 100px;
     }
    
}

.skills__subHeaderOne {
    cursor: pointer;
    
}
.skills__subHeaderOne:hover {
    font-weight: 600;
    color: black;
}

.skills__sliderContainer {
    margin-top: 40px;
     @include media(950px) {
        margin-top: 60px;
     }
}

.skills__sliderContainer span {
    font-size: 0.85rem;
    @include media(1050px) {
        font-size: 0.7rem;
     }
     @include media(950px) {
        font-size: 0.8rem;
     }
     @include media(450px) {
        font-size: 0.7rem;
     }
}

.skills__paragraph {
    margin-top: 30px;
    @include media(1050px) {
        font-size: 0.85rem;
     }
     @include media(950px) {
        font-size: 1rem;
     }
     @include media(450px) {
        font-size: 0.8rem;
     }
} 

 progress {
    margin-top: 10px;
    width: 75%;
    position: relative;
     @include media(1150px) {
        width: 85%;
     }
    @include media(1050px) {
        width: 90%;
     }
    
}


.lowDev[value]::before {
  content: 'Note: Current project is in Node.js (see my blockchain in portfolio)';
  position: absolute;
  left: 0;
  bottom: -150%;
  font-size: 0.65rem;
  color: gray;
    @include media(450px) {
        display: none;
     }
}

.lowProd[value]::before {
  content: 'Note: Currently in brand design for my startup, Eden (see portfolio)';
  position: absolute;
  left: 0;
  bottom: -150%;
  font-size: 0.65rem;
    color: gray;
    @include media(450px) {
        display: none;
     }
}

// progress[value] {
//   color: #0063a6;
//   font-size: .6em;
//   line-height: 1.5em;
//   text-indent: .5em;
//   width: 60%;
//   height: 1rem;
//   border: 1px solid $darkColour;
// }


progress::-moz-progress-bar { 
    background: $lightColour; 
}

progress::-webkit-progress-bar { 
    background: #fff; 
}
progress::-webkit-progress-value { 
    background: $lightColour; 
}
