.portfolio {
    padding-top: 40px;
    height: 1300px;
    @include media(750px) {
       height: 2000px;
     }
    
}

.portfolio--active {
    height: 1000px;
    @include media(750px) {
       height: 1700px;
     }
}

.portfolio__container {
    height: 100%;
}

.portfolio__main {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: auto; 
}


.portfolio__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    .portfolio__item, .portfolio__item--active {
        text-decoration: none;
        list-style-type: none;
        .portfolio__link {
            list-style-type: none;
            text-decoration: none;
        }
    }
    @include media(950px) {
       width: 60%;
     }
    @include media(750px) {
       width: 70%;
     }
     @include media(550px) {
       width: 90%;
     }
}

.portfolio__item--active {
    position: relative;
}

.portfolio__link {
    color: gray;
    cursor: pointer;
    @include media(450px) {
       font-size: 0.9rem;
     }
}

.portfolio__link:hover {
    color: black;
    cursor: pointer;
}

.portfolio__item--active .portfolio__link {
    color: black;
}


.portfolio__item--active::before {
    content: '';
    width: 180px;
    font-weight: 600;
    height: 10%;
    background-color: $midColour;
    position: absolute;
    bottom: -20px;
    left: -20px;
    @include media(550px) {
       width: 100px;
       left: 0px;
     }
}

.portfolio__gallery {
    padding-top: 75px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    @include media(750px) {
       grid-template-columns: 1fr;
       grid-template-rows: 300px 300px 300px 300px 300px;
     }

}

.portfolio__galleryItem {
    background: rgb(245, 245, 245);
    // transition: grid-row-start 300ms linear;
    // transition: transform 300ms ease;
    // transition: all 0.5s ease;
    cursor: pointer;
    padding: 2%;
    // width: 100%;
    @include media(750px) {
       Grid-column: span 1;
       Grid-row: span 1;
     }
}

.portfolio__galleryItem--active {
    Grid-column: span 2;
    @include media(750px) {
       Grid-column: span 1;
       Grid-row: span 1;
     }
    
}

.portfolio__galleryItem--activeTwo {
    Grid-row: span 2;
    @include media(750px) {
       Grid-column: span 1;
     }
    // Grid-column: span ;
    padding: 8%;
}

.portfolio__galleryItem--activeThree {
    Grid-column: span 3;
    @include media(750px) {
       Grid-column: span 1;
       Grid-row: span 1;
     }
    
}

// .portfolio__galleryItem:hover {
//   transform: scale(1.025);
// }

.portfolio__gallery img {
  margin: 0 auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
//   box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
  
}

.portfolio__galleryItem--active img {
      margin-top: 0px;
      @include media(950px) {
      margin-top: 30px;
     }
     @include media(450px) {
      margin-top: 50px;
     }
    
}

.portfolio__galleryItem--activeTwo img {
    @include media(950px) {
      margin-top: 75px;
     }
     @include media(950px) {
      margin-top: 0px;
     }
     @include media(450px) {
      margin-top: 25px;
     }
}

.portfolio__galleryItem--activeThree img {
    @include media(750px) {
        margin-top: 30px;
     }
     @include media(450px) {
      margin-top: 50px;
     }
}
