
.social {
    background: rgb(242, 242, 242);
    padding-top: 40px;
    height: 200px;
     @include media(750px) {
        height: 400px;
     }
}

.social__header {
    @include media(750px) {
        margin-bottom: 150px;
     }   
}

.awesome {
    font-size: 2rem;
    cursor: pointer;
    transition: font-size 0.5s;
    position: relative;
}

.awesome:hover {
    font-size: 2.2rem;
}

// .fa-linkedin:hover::before {
//     font-size: 2.2rem;
//     position: absolute;
//     content: 'Go to LinkedIn';
//     bottom: 0;
//     width: 50%;
//     left: 0;
// }



.social__main {
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
}

