.portfolio {
    padding: 50px 0;
    height: auto;
    @include media(750px) {
       height: auto;
     }
    
}

.portfolio--active {
    height: 1000px;
    @include media(750px) {
       height: 1600px;
     }
}

.portfolio__container {
    height: auto;
}

.portfolio__main {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    // height: auto; 
}


.portfolio__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    .portfolio__item, .portfolio__item--active {
        text-decoration: none;
        list-style-type: none;
        text-align: center;

        .portfolio__link {
            list-style-type: none;
            text-decoration: none;
            color: gray;
    cursor: pointer;
    width: 150px;
    @include media(450px) {
       font-size: 0.8rem;
     }
        }
    }
    @include media(950px) {
       width: 60%;
     }
    @include media(750px) {
       width: 70%;
     }
     @include media(550px) {
       width: 90%;
     }
}

.portfolio__item--active {
    position: relative;
}

.portfolio__link:hover {
    color: black;
    cursor: pointer;
}

.portfolio__item--active .portfolio__link {
    color: black;
}


.portfolio__item--active::before {
    content: '';
    width: 170px;
    font-weight: 600;
    height: 10%;
    background-color: $midColour;
    position: absolute;
    bottom: -20px;
    left: -20px;
    @include media(550px) {
       width: 100px;
       left: 0px;
     }
}

.portfolio__gallery {
    padding-top: 75px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    @include media(750px) {
       grid-template-columns: 1fr;
       grid-template-rows: 300px 300px 300px 300px 300px 300px;
     }

}

.portfolio__galleryItem {
    background: rgb(245, 245, 245);
    position: relative;
    // transition: grid-row-start 300ms linear;
    // transition: transform 300ms ease;
    // transition: all 0.5s ease;
    cursor: pointer;
    padding: 2%;
    // width: 100%;
    @include media(750px) {
       Grid-column: span 1;
       Grid-row: span 1;
     }
}

.portfolio__galleryItem--active {
    Grid-column: span 2;
    @include media(750px) {
       Grid-column: span 1;
       Grid-row: span 1;
     }
    
}

.portfolio__galleryItem--activeTwo {
    Grid-row: span 2;
    @include media(750px) {
       Grid-column: span 1;
     }
    padding: 8%;
}

.portfolio__galleryItem--activeThree {
    Grid-column: span 3;
    @include media(750px) {
       Grid-column: span 1;
       Grid-row: span 1;
     }
    
}

// .portfolio__galleryItem:hover {
//   transform: scale(1.025);
// }

.portfolio__gallery img {
  margin: 0 auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
//   box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
  
}

.portfolio__galleryItem--active img {
      margin-top: 0px;
      @include media(950px) {
      margin-top: 30px;
     }

     @include media(750px) {
      margin-top: 0px;
     }

     @include media(550px) {
      margin-top: 30px;
     }

     @include media(450px) {
      margin-top: 50px;
     }
    
}

.portfolio__galleryItem--activeTwo img {
    @include media(950px) {
      margin-top: 75px;
     }
     @include media(750px) {
      margin-top: 0px;
     }
     @include media(450px) {
      margin-top: 25px;
     }
}

.portfolio__galleryItem--activeThree img {
    @include media(750px) {
        margin-top: 0px;
     }

     @include media(550px) {
      margin-top: 30px;
     }
     @include media(450px) {
      margin-top: 50px;
     }
}
.portfolio__galleryItem .imageCaption {
  display: none;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 8% 20%;
  @include media(950px) {
       padding: 8% 15%
     }
     @include media(950px) {
       padding: 12% 15%
     }
}

.portfolio__galleryItem:hover .imageCaption {
  display: block;
  background: linear-gradient(to top, rgb(184, 184, 184), 10%, rgb(232, 232, 232));
  //  background: $midColour;
  opacity: 0.9; 
  
  h3 {
    color: black;
    font-size: 1rem;
    @include media(1100px) {
       font-size: 0.9rem;
     }
    @include media(950px) {
       font-size: 0.85rem;
     }
     
  }
  p {
    color: black;
    margin-bottom: 20px;
    font-size: 0.85rem;
    @include media(1100px) {
       font-size: 0.8rem;
     }
    @include media(950px) {
       font-size: 0.75rem;
     }
  }
}

.portfolio__galleryItem--activeTwo .imageCaption {
  padding: 25%;
  @include media(950px) {
       padding: 50% 20%;
     }
     @include media(750px) {
       padding: 25%;
     }
}

.portfolio__galleryItem--activeThree .imageCaption {
  padding: 5% 35%;
  @include media(950px) {
       padding: 5% 25%;
     }
     @include media(750px) {
       padding: 12% 15%;
     }

}

