.portfolio {
    padding-top: 40px;
    height: 1300px;
}

.portfolio--active {
    height: 1000px;
}

.portfolio__container {
    height: 100%;
}

.portfolio__main {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: auto; 
}


.portfolio__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    .portfolio__item, .portfolio__item--active {
        text-decoration: none;
        list-style-type: none;
        .portfolio__link {
            list-style-type: none;
            text-decoration: none;
        }
    }
}

.portfolio__item--active {
    position: relative;
}

.portfolio__link {
    color: gray;
    cursor: pointer;
}

.portfolio__link:hover {
    color: black;
    cursor: pointer;
}

.portfolio__item--active .portfolio__link {
    color: black;
}


.portfolio__item--active::before {
    content: '';
    width: 180px;
    font-weight: 600;
    height: 10%;
    background-color: $midColour;
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.portfolio__gallery {
    padding-top: 75px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-auto-rows: 8px;
    // height: 100%;
    // width: 100%;

}

.portfolio__galleryItem {
    background: rgb(245, 245, 245);
    // transition: grid-row-start 300ms linear;
    // transition: transform 300ms ease;
    // transition: all 0.5s ease;
    cursor: pointer;
    padding: 2%;
    // width: 100%;
}

.portfolio__galleryItem--active {
    Grid-column: span 2;
}

.portfolio__galleryItem--activeTwo {
    Grid-row: span 2;
    // Grid-column: span ;
    padding: 8%;
}

.portfolio__galleryItem--activeThree {
    Grid-column: span 3;
}

// .portfolio__galleryItem:hover {
//   transform: scale(1.025);
// }

.portfolio__gallery img {
  margin: 0 auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
//   box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.portfolio__galleryItem--active img {
      margin-top: 0px;
}
