
.footer {
    background: rgb(242, 242, 242);
    padding-top: 40px;
    height: 380px;
}


.footer__header {
    width: 40%;
}

.footer__header::before {
    width: 400px;
}

.footer__main {
    display: flex;
    height: 90%;
    flex-direction: row;
    justify-content: space-between;
}

.footer__text {
    padding-top: 30px;
    display: flex;
    height: 80%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.footer__subHeader {
    font-size: 1rem;
}

.footer__imageContainer {
    width: 35%;
    margin-top: 50px;
}

.footer__image {
    height: 80%;
}

.footer__paragraph {
    font-style: italic;
    font-size: 0.9rem;
}

.footer span {
    font-weight: bold;
    font-style: normal;
}




